# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- Learn tools available in Data Science
- Learn basics of R
- Learn basics of Github

In [ ]:
### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. seaborn

### Data Science Tools

| Data Science Tool |
| --- |
| Hadoop |
| Apache Spark |
| Apache Kafka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
###### This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
###### This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Inigo Bacaicoa